.header1{
    text-align: right;
    height: 35px;
}

.h-text{
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 45px;
    color: rgb(28, 45, 121);
}

.icons{
    color: rgb(41, 53, 92);
    font-size: 28px;
}

.input-group {
    height: 60px;
    background-color: rgba(244, 244, 244, 1)
}

.input-group-append{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}