<div class="container-fluid">
  <div class="row bg-secondary py-1 px-xl-5">
      <!--<div class="col-lg-6 d-none d-lg-block">
          <div class="d-inline-flex align-items-center h-100">
              <a class="text-body mr-3" href="">About</a>
          </div>
      </div>-->
      <div class="header1">
        <div class="d-inline-flex" style = "margin-top: 5px">
          <i class="fas fa-info-circle fa-x icons" ></i>
          <p class="h-text" style = "margin-left: 20px;">ZONA DOCUMENTOS</p>
          <p class="h-text">SERVICIOS</p>
          <p class="h-text">CATÁLOGOS</p>
        </div>
      </div>
  </div>
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-2">
      <img src="assets/img/logo.png" alt="Logo" style = "height: 80%; width: 80%;">
    </div>
      <div class="col-lg-4 col-6 text-left">
        <form action="">
            <div class="input-group rounded-pill border-0">
                <input type="text" class="form-control border-0" style = "margin-left: 10px; border-radius: 50px;">
                <div class="input-group-append">
                  <button class="btn btn-primary btn-lg rounded-circle" style="width: 50px; height: 50px; padding: 0; background-color: orange;" type="submit">
                    <i class="fa fa-search icons" style="line-height: 50px; color: white"></i>
                </button>
                </div>
            </div>
        </form>
      </div>
      <div class="col-lg-4 col-6 text-right">
          <p class="m-0">Customer Service</p>
          <h5 class="m-0">+012 345 6789</h5>
      </div>
  </div>
</div>