$azul: rgba(10, 82, 144, 1) !important;
$naranja: rgba(241, 147, 35, 1) !important;

:host {
    display: block; // Asegura que el componente sea un bloque
    position: relative; // Establece una posición relativa para poder posicionar correctamente el video
    width: 100%; // Ajusta el ancho del componente al 100%
    height: auto; // Ajusta la altura automáticamente (puedes ajustarlo según tus necesidades)
  }
  
  video {
    width: 100%; // Ajusta el ancho del video al 100% del contenedor
    height: auto; // Ajusta la altura automáticamente (proporcional al ancho)
    display: block; // Asegura que el video sea un bloque
  }