<div class="container">
    <div class="card-container" style = "margin-top: -7vw">
      <div class="card">
        <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
        <div class="button-container">
          <button class="button">Producto 1</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
        <div class="button-container">
          <button class="button">Producto 2</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
        <div class="button-container">
          <button class="button">Producto 3</button>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
        <div class="button-container">
          <button class="button">Producto 4</button>
        </div>
      </div>
    </div>
  </div>