<div class="container-fluid bg-dark text-secondary mt-3 pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-4 col-md-12" style ="padding-right: 4vw;">
            <img class = "logo" src = "assets/img/logo2.png">
            <p class="t2 mb-4">Bienvenidos a MEPOL STORE, la tienda de equipos y partes originales
              al mejor precio del mercado. Contamos con productos, servicios técnicos y capacitaciones
              que le darán el mejor suporte postventa para lograr un alto índice de productividad.
            </p>
            <p class="t2 mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>&nbsp;Lima, Perú</p>
            <p class="t2 mb-2"><i class="fa fa-envelope text-primary mr-3"></i>mepol.store@hotmail.com</p>
            <p class="t2 mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+51 999 999 999</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-3 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4"><strong>Acerca de Mepol</strong></h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary t2 mb-2" href="#">¿Por qué comprar en MEPOL STORE?</a>
                        <a class="text-secondary t2 mb-2" href="#">Términos y Condiciones</a>
                        <a class="text-secondary t2 mb-2" href="#">Cambios y Devoluciones</a>
                        <a class="text-secondary t2 mb-2" href="#">Garantía</a>
                        <a class="text-secondary t2 mb-2" href="#">Reembolso</a>
                        <a class="text-secondary t2" href="#">Staff</a>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                  <h5 class="text-secondary text-uppercase mb-4"><strong>Categorías</strong></h5>
                  <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary t2 mb-2" href="#">Equipamiento Cocinas</a>
                        <a class="text-secondary t2 mb-2" href="#">Refrigeración, Hielo</a>
                        <a class="text-secondary t2 mb-2" href="#">Equipos Panadería, Pastelería</a>
                        <a class="text-secondary t2 mb-2" href="#">Lavandería</a>
                        <a class="text-secondary t2" href="#">Cursos, Blog</a>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                  <h5 class="text-secondary text-uppercase mb-4"><strong>Sub Categorías</strong></h5>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-secondary t2 mb-2" href="#">Abatimiento</a>
                      <a class="text-secondary t2 mb-2" href="#">Refrigeración y Congelación</a>
                      <a class="text-secondary t2 mb-2" href="#">Cocción</a>
                      <a class="text-secondary t2 mb-2" href="#">Producción</a>
                      <a class="text-secondary t2 mb-2" href="#">Empacado al vacío</a>
                      <a class="text-secondary t2" href="#">Lavavajillas</a>
                  </div>
              </div>
                <div class="col-md-3 mb-5">
                  <button class="button centro-de-ayuda">Centro de Ayuda</button>
                  <button class="button rastrea-mi-pedido">Rastrea mi Pedido</button>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">¡SÍGUENOS!</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>