$azul: rgba(10, 82, 144, 1) !important;
$naranja: rgba(241, 147, 35, 1) !important;

.header1 {
    text-align: right;
    height: 35px;
}

.h-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 45px;
    color: rgb(28, 45, 121);
}

.logo {
    height: 25%;
    margin-bottom: 30px;
    margin-top: -20px;
}

.t2 {
    font-size: 0.94vw;
}

.text-uppercase {
    font-size: 1.15vw;
}

.icons {
    color: rgb(41, 53, 92);
    font-size: 28px;
}

.input-group {
    height: 60px;
    background-color: rgba(244, 244, 244, 1)
}

.input-group-append {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

a {
    text-decoration: none;
}

.button {
    border: none;
    width: 12vw;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
}

.button.centro-de-ayuda {
    background-color: $naranja;
    border: 2px solid $naranja;
    font-size: 1vw;
    color: white;
}

.btn {
    font-size: 1vw;
}

.button.rastrea-mi-pedido {
    border: 3px solid white;
    font-size: 1vw;
    color: white;
}