<div class="container-fluid">
  <div class="row bg-secondary px-xl-5">
      <!--<div class="col-lg-6 d-none d-lg-block">
          <div class="d-inline-flex align-items-center h-100">
              <a class="text-body mr-3" href="">About</a>
          </div>
      </div>-->
      <div class="header1">
        <div class="d-inline-flex" style = "margin-right: -2vw;">
          <i class="fas fa-info-circle fa-x icons botones"style = "margin-top: auto; margin-bottom: auto;"></i>
          <p class="h-text botones" style = "margin-left: 20px;">ZONA DOCUMENTOS</p>
          <p class="h-text botones">SERVICIOS</p>
          <p class="h-text botones">CATÁLOGOS</p>
        </div>
      </div>
  </div>
  <div class="row align-items-center bg-light d-none d-lg-flex" style = "gap: 0.35vw; height: 6vw;">
    <div class="col-lg-2 volver">
      <a href="">
      <img src="assets/img/logo.png" alt="Logo" style = "height: 80%; width: 80%; margin-left: 1vw;">
      </a>
    </div>
      <div class="col-lg-4 col-6 text-left">
        <form action="">
            <div class="input-group rounded-pill border-0" style = "height: 3.5vw;">
                <input type="text" class="form-control border-0 bg-secondary" style = "margin-left: 1.25vw; border-radius: 2.75vw; margin-right: 0.5vw;">
                <div class="input-group-append">
                  <button class="btn btn-primary btn-lg rounded-circle" style="width: 2.75vw; height: 2.75vw; padding: 0; background-color: rgba(241, 147, 35, 1)" type="submit">
                    <i class="fa fa-search icons" style="line-height: 2.75vw; color: white; font-size: 1.5vw;"></i>
                </button>
                </div>
            </div>
        </form>
      </div>
      <div class="col-5 text-right d-flex align-items-center" style = "margin-left: 5%; gap: 2vw">
        <div class = "col-lg-4 d-flex align-items-center options">
          <i class="fa fa-map-marker-alt icons2"></i>
          <p class="t-objetos mt-3" style = "width: 5.5vw; font-size: 1.1vw; margin-left: 1vw;">Seguimiento de Compra</p>
        </div>
        <div class = "col-lg-4 d-flex align-items-center options">
          <i class="fa fa-user icons2"></i>
          <p class="t-objetos mt-3" style = "width: 7vw; font-size: 1.1vw; margin-left: 1vw;">Iniciar Sesión/ Registrarse</p>
        </div>
        <div class = "d-flex align-items-center options">
          <i class="fa fa-shopping-cart icons2"></i>
          <p class="t-objetos" style = "font-size: 1.1vw; margin-left: 1vw; margin-top: 1vw;">Mi Carrito</p>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid-2" style="box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.18);">
  <div class="d-flex px-xl-5 align-items-center" style = "height: 3vw;">
    <div class="d-none d-lg-block" style="width: 20%;">
      <div class="dropdown" style="margin-left: 10%; margin-right: -50px; width: 90%;">
        <button class="btn menu w-100 border-0" style="height: 3vw;" type="button" (click)="toggleMenu()">
          <h5 class="text-white m-0 d-flex align-items-center">
            <i class="fa fa-bars" style="margin-left: 2%; margin-right: 5%;"></i>
            <strong>Todas las categorías</strong>
          </h5>
        </button>
        <div class="dropdown-menu custom-dropdown" [ngClass]="{ 'show': isMenuVisible, 'fade-in': isMenuVisible }">
          <a class="dropdown-item" href="#" *ngFor="let opcion of opciones">
            <div class="d-flex justify-content-between align-items-center">
              <div style = "font-size: 0.9vw;">
                <i class="fa {{ opcion.icono }} mr-1" style = "margin-left: 0.1vw;"></i>
                {{ opcion.nombre }}
              </div>
              <div class="ml-auto fecha">
                <i class="fa fa-arrow-right" style="font-size: 0.9vw;"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block" style="width: 80%;">
      <div class="d-flex justify-content-between" style="width: 92%; margin-left: 3%;">
        <a class="ab m-0" href = "compra-industria"><strong>Compra por Industria</strong></a>
        <a class="ab m-0" href = ""><strong><i class="fa fa-tag" aria-hidden="true" style = "transform: scaleX(-1);"></i>&nbsp;&nbsp;Ofertas</strong></a>
        <a class="ab m-0" href = "marcas-exclusivas"><strong>Marcas Exclusivas</strong></a>
        <a class="ab m-0" href = ""><strong>Recién llegados</strong></a>
        <a class="ab m-0" href = ""><strong>Servicio técnico</strong></a>
        <a class="ab m-0" href = "diseno-cocinas"><strong>Diseño de cocinas</strong></a>
      </div>
    </div>
  </div>
  <div class="orange-rectangle" style = "font-size: 0.5vw; border-top: 1px solid rgb(230, 230, 230);">&nbsp;</div>
</div>
