$azul: rgba(10, 82, 144, 1);
$naranja: rgba(241, 147, 35, 1);

.selected {
  border-color: black;
}

.header1 {
  text-align: right;
  height: 2vw;
}

.volver {
  cursor: pointer;
}

.h-text {
  font-size: 1.1vw;
  font-weight: bold;
  margin: 0.25vw 2.75vw;
  color: rgb(28, 45, 121);
}

.t-objetos {
  color: $azul;
  text-align: left;
  font-size: 18px;
}

.icons,
.icons2 {
  color: rgb(41, 53, 92);
  font-size: 28px;
}

.icons2 {
  font-size: 2.3vw;
}

.input-group {
  height: 3vw;
  background-color: rgba(244, 244, 244, 1);
}

.input-group-append {
  margin: auto 0 0.3vw;
}

.custom-dropdown {
  border-radius: 2px;
  background-color: rgba(219, 215, 215, 1);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  opacity: 0;
  transition: opacity 0.23s ease;

  &.show {
    opacity: 1;
  }

  &.fade-in {
    animation: fadeIn 0.23s ease forwards;
  }
}

.custom-dropdown .dropdown-item {
  color: #3f3f3f;
  margin: auto;
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgb(173, 165, 165);
  color: #3f3f3f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.rotacion {
  transform: rotate(180deg);
}

.orange-rectangle {
  background-color: $naranja;
  z-index: -1;
}

.container-fluid-2 {
  background-color: $azul;
  color: white;
}

.container-fluid-3 {
  background-color: $naranja;
}

.menu {
  background-color: $azul;
  width: 10vw;
  transition: background-color 0.3s ease;

  &:hover,
  &.clicked {
    background-color: $naranja;
  }
}

.text-white {
  font-size: 1.1vw;

  @media (max-width: 768px) {
    font-size: 3vw;
  }
}

.container,
.container-2,
.card-container-rounded,
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
}

.container-2 {
  height: 100px;
}

.card-container-rounded {
  gap: 150px;
  margin-top: 0;
}

.card-container {
  gap: 50px;
}

.card,
.card-rounded {
  width: 360px;
  padding: 20px;
  border: 1px solid rgba(244, 244, 244, 1);
  border-radius: 5px;
  text-align: center;
  background-color: rgba(244, 244, 244, 1);

  &.card-rounded {
    width: 180px;
    height: 180px;
    border-radius: 100%;
  }
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}

.product-name {
  font-weight: bold;
  font-size: 25px;
  color: $azul;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(219, 215, 215, 1);
}

.button {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: #3f3f3f;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #292929;
  }
}

.ab {
  text-decoration: none;
  padding-top: 3px;
  font-size: 1vw;
  position: relative;
  color: white;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $naranja;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    color: $naranja;
    width: 0;
    height: 2px;
    background-color: $naranja;
    transition: width 0.2s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

.options:hover {
  cursor: pointer;
}