<!-- CARRUSEL -->
<div class="container-fluid">
  <div class="row px-xl-5">
      <div style = "margin-top: 1vw;">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style = "width: 86vw; height: 90%; margin-left: auto!important; margin-right: auto!important;">
              <div class="carousel-item position-relative active" style="height: 25vw;">
                  <img class="position-absolute w-100 h-100" src="assets/img/fondo1.png" style="object-fit: cover;">
                  
              </div>
              <div class="carousel-item position-relative" style="height: 25vw;">
                <img class="position-absolute w-100 h-100" src="assets/img/fondo1.png" style="object-fit: cover;">
                  
              </div>
              <div class="carousel-item position-relative" style="height: 25vw;">
                <img class="position-absolute w-100 h-100" src="assets/img/fondo1.png" style="object-fit: cover;">
                  <!--<div class="carousel-caption d-flex flex-column align-items-center justify-content-center"></div>-->
              </div>
            </div>
            <!-- FLECHA IZQUIERDA -->
          <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <!-- FLECHA DERECHA -->
          <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>  
        </div>
      </div>

      <!-- 4 CARTELES -->

      <div class="container">
        <div class="card-container" style = "margin-top: -8vw">
          <div class="card">
            <img src="assets/img/productoA.png" alt="Producto 1" class="product-image">
            <div class="button-container">
              <button class="button">Hornos</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/productoB.png" alt="Producto 2" class="product-image">
            <div class="button-container">
              <button class="button">Lavavajillas</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/productoC.png" alt="Producto 3" class="product-image">
            <div class="button-container">
              <button class="button">Abatidores</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/productoD.png" alt="Producto 4" class="product-image">
            <div class="button-container">
              <button class="button">Sartenes volcables</button>
            </div>
          </div>
        </div>
      </div>

      <!-- CUADRO 5x3 -->

      <h1 class = "titulo" style = "text-align: center; margin-top: -5vw;">Categorías</h1>
      <div>
        <div class="container" style = "margin-top: -6vw;">
          <div class="card-container-rounded">
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
              <div class="product-name">Hornos</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
                <div class="product-name">Manetenedores</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
              <div class="product-name">Empacadores</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
              <div class="product-name">Sartenes</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 5" class="product-image">
              <div class="product-name">Lavavajillas</div>
            </div>
          </div>
        </div>
        <div class="container" style = "height: 100px!important;">
          <div class="card-container-rounded">
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
              <div class="product-name">Abatidores</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
              <div class="product-name">Refrigeradores</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
              <div class="product-name">Máquinas de Hielo</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
              <div class="product-name">Máquinas de Helado</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 5" class="product-image">
              <div class="product-name">Molinos de Café</div>
            </div>
          </div>
        </div>
        <div class = "container">
          <div class="card-container-rounded">
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
                <div class="product-name">Máquina de Café</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
                <div class="product-name">PAQ</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
                <div class="product-name">Circulación de Inmersión</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
                <div class="product-name">Cambro Delivery</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 5" class="product-image">
                <div class="product-name">Procesadores</div>
              </div>
            </div>
        </div>
      </div>

      <!-- MÁS VENDIDOS -->

      <h1 class = "titulo">Productos más vendidos</h1>
      <div class="container" style = "margin-top: -3vw;">
        <div class="card-container" style = "gap: 2vw!important;">
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/vendidos1.png" alt="mantenedores" class="product-image">
            <div class="button-container" style = "margin-bottom: -2vw;">
              <button class="button" routerLink = "diseno-cocinas">Mantenedores
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/vendidos2.png" alt="lavavajillas" class="product-image">
            <div class="button-container" style = "margin-bottom: -2vw;">
              <button class="button">Lavavajillas
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/vendidos3.png" alt="sartenes" class="product-image">
            <div class="button-container" style = "margin-bottom: -2vw;">
              <button class="button">Sartenes
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/vendidos4.png" alt="hornos" class="product-image">
            <div class="button-container" style = "margin-bottom: -2vw;">
              <button class="button">Hornos
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- BANDA DE MARCAS -->

        <h1 class = "titulo" style = "text-align: center;">Comprar marcas populares</h1>
        <div class="scrolling-banner">
          <img src="assets/img/marcas.png" alt="Imagen" class="scrolling-image">
          <img src="assets/img/marcas.png" alt="Imagen" class="scrolling-image">
        </div>

      <!-- BLOG -->

      <a href = "marcas-exclusivas" style = "text-decoration: none;">
        <h1 class = "titulo" style = "margin-top: 2vw; margin-bottom: 1vw; cursor: pointer;">Blog</h1>
      </a>
      <div id="header-carousel-2" class="carousel slide carousel-fade" data-ride="carousel" style = "margin-bottom: 4vw;">
        <div class="carousel-inner d-flex" style="width: 86vw; margin-left: auto!important; margin-right: auto!important;">
          <div class="carousel-item active" style = "background-color: white!important;">
            <div class="d-flex justify-content-around">
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog1.png" alt="Producto 1" class="blog-image">
                <div class="blog" style = "margin-bottom: -1vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-27</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL introduces a new product category.</p>
                </div>
              </div>
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog2.png" alt="Producto 2" class="blog-image">
                <div class="blog" style = "margin-bottom: -3vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-22</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL USA Honored with 2024 Kitchen
                  Innovation® Award for iCareSystem AutoDose.</p>
                </div>
              </div>
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog3.png" alt="Producto 3" class="blog-image">
                <div class="blog" style = "margin-bottom: -3vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-21</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL USA Expands Partnership with
                  Tri-State Marketing Rep Group.</p>
                </div>
              </div>
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog4.png" alt="Producto 4" class="blog-image">
                <div class="blog" style = "margin-bottom: -3vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-14</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">The Beginning of a New Era:</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active2">
            <div class="d-flex justify-content-around">
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog3.png" alt="Producto 3" class="blog-image">
                <div class="blog" style = "margin-bottom: -3vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-21</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL USA Expands Partnership with
                  Tri-State Marketing Rep Group.</p>
                </div>
              </div>
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog1.png" alt="Producto 1" class="blog-image">
                <div class="blog" style = "margin-bottom: -1vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-27</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL introduces a new product category.</p>
                </div>
              </div>
              <div class="card-blog" style = "width: 21.5vw;">
                <img src="assets/img/blog2.png" alt="Producto 2" class="blog-image">
                <div class="blog" style = "margin-bottom: -3vw;">
                  <p style = "color: gray; font-size: 0.8vw;">2024-02-22</p>
                  <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL USA Honored with 2024 Kitchen
                  Innovation® Award for iCareSystem AutoDose.</p>
                </div>
              </div>                  
            </div>
          </div>
        </div>
        <!-- FLECHA IZQUIERDA -->
        <a class="carousel-control-prev" href="#header-carousel-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <!-- FLECHA DERECHA -->
        <a class="carousel-control-next" href="#header-carousel-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>   
  </div> 
</div>

<!-- BOTÓN VOLVER ARRIBA-->

<button id="back-to-top-btn" (click)="scrollToTop()" title="Volver arriba">
  <i class="fas fa-arrow-up"></i>
</button>


<!-- 3D MODEL -->

<!--
  <div class="bg-white flex p-10 justify-center rounded-2xl shadow-xl" style = "width: 93.5%; margin-left: auto;margin-right: auto;">
    <app-product-preview class="w-[100%] h-[420px]" [color]="selectedColor"></app-product-preview>
  </div>-->

