<!-- CARRUSEL -->
<div class="container-fluid">
  <div class="row px-xl-5">
      <div style = "margin-top: 1vw;">
        <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style = "width: 86vw; height: 90%; margin-left: auto!important; margin-right: auto!important;">
              <div class="carousel-item position-relative active" style="height: 25vw;">
                  <img class="position-absolute w-100 h-100" src="assets/img/fondo1.png" style="object-fit: cover;">
                  
              </div>
              <div class="carousel-item position-relative" style="height: 25vw;">
                <img class="position-absolute w-100 h-100" src="assets/img/fondo1.png" style="object-fit: cover;">
                  
              </div>
              <div class="carousel-item position-relative" style="height: 25vw;">
                <img class="position-absolute w-100 h-100" src="assets/img/fondo1.png" style="object-fit: cover;">
                  <!--<div class="carousel-caption d-flex flex-column align-items-center justify-content-center"></div>-->
              </div>
            </div>
            <!-- FLECHA IZQUIERDA -->
          <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <!-- FLECHA DERECHA -->
          <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>  
        </div>
      </div>

      <!-- 4 CARTELES -->

      <div class="container">
        <div class="card-container" style = "margin-top: -7vw">
          <div class="card">
            <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
            <div class="button-container">
              <button class="button">Producto 1</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
            <div class="button-container">
              <button class="button">Producto 2</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
            <div class="button-container">
              <button class="button">Producto 3</button>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
            <div class="button-container">
              <button class="button">Producto 4</button>
            </div>
          </div>
        </div>
      </div>

      <!-- CUADRO 5x3 -->

      <h1 class = "titulo" style = "text-align: center; margin-top: -3vw;">Categorías</h1>
      <div>
        <div class="container" style = "margin-top: -6vw;">
          <div class="card-container-rounded">
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
                  <div class="product-name">Producto 1</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
                  <div class="product-name">Producto 2</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
                  <div class="product-name">Producto 3</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
                <div class="product-name">Producto 4</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 5" class="product-image">
                <div class="product-name">Producto 5</div>
            </div>
          </div>
        </div>
        <div class="container" style = "height: 100px!important;">
          <div class="card-container-rounded">
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
                  <div class="product-name">Producto 1</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
                  <div class="product-name">Producto 2</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
                  <div class="product-name">Producto 3</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
                <div class="product-name">Producto 4</div>
            </div>
            <div class="card-rounded">
              <img src="assets/img/producto1.png" alt="Producto 5" class="product-image">
                <div class="product-name">Producto 5</div>
            </div>
          </div>
        </div>
        <div class = "container">
          <div class="card-container-rounded">
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
                    <div class="product-name">Producto 1</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
                    <div class="product-name">Producto 2</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
                    <div class="product-name">Producto 3</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
                  <div class="product-name">Producto 4</div>
              </div>
              <div class="card-rounded">
                <img src="assets/img/producto1.png" alt="Producto 5" class="product-image">
                  <div class="product-name">Producto 5</div>
              </div>
            </div>
        </div>
      </div>

      <!-- MÁS VENDIDOS -->

      <h1 class = "titulo">Productos más vendidos</h1>
      <div class="container">
        <div class="card-container" style = "gap: 2vw!important;">
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/producto1.png" alt="Producto 1" class="product-image">
            <div class="button-container" style = "margin-bottom: -3vw;">
              <button class="button" routerLink = "compra-industria">Producto 1
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/producto1.png" alt="Producto 2" class="product-image">
            <div class="button-container" style = "margin-bottom: -3vw;">
              <button class="button">Producto 2
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/producto1.png" alt="Producto 3" class="product-image">
            <div class="button-container" style = "margin-bottom: -3vw;">
              <button class="button">Producto 3
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
          <div class="card" style = "width: 21.5vw;">
            <img src="assets/img/producto1.png" alt="Producto 4" class="product-image">
            <div class="button-container" style = "margin-bottom: -3vw;">
              <button class="button">Producto 4
                <p class="dinero">S/ XXXX.XX</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- BANDA DE MARCAS -->

        <div class="scrolling-banner">
          <img src="assets/img/cinta.png" alt="Imagen" class="scrolling-image">
          <img src="assets/img/cinta.png" alt="Imagen" class="scrolling-image">
        </div>

      <!-- BLOG -->

      <h1 class = "titulo" style = "margin-top: 2vw;">Blog</h1>
      <div class="container">
        <div class="card-container" style = "gap: 2vw!important;">
          <div class="card-blog" style = "width: 21.5vw;">
            <img src="assets/img/rational.png" alt="Producto 1" class="blog-image">
            <div class="blog" style = "margin-bottom: -1vw;">
              <p style = "color: gray; font-size: 0.8vw;">2024-02-27</p>
              <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL introduces a new product category</p>
            </div>
          </div>
          <div class="card-blog" style = "width: 21.5vw;">
            <img src="assets/img/rational.png" alt="Producto 2" class="blog-image">
            <div class="blog" style = "margin-bottom: -3vw;">
              <p style = "color: gray; font-size: 0.8vw;">2024-02-27</p>
              <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL introduces a new product category</p>
            </div>
          </div>
          <div class="card-blog" style = "width: 21.5vw;">
            <img src="assets/img/rational.png" alt="Producto 3" class="blog-image">
            <div class="blog" style = "margin-bottom: -3vw;">
              <p style = "color: gray; font-size: 0.8vw;">2024-02-27</p>
              <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL introduces a new product category</p>
            </div>
          </div>
          <div class="card-blog" style = "width: 21.5vw;">
            <img src="assets/img/rational.png" alt="Producto 4" class="blog-image">
            <div class="blog" style = "margin-bottom: -3vw;">
              <p style = "color: gray; font-size: 0.8vw;">2024-02-27</p>
              <p style = "color: rgb(38, 48, 109); font-size: 1vw;">RATIONAL introduces a new product category</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
</div>

<!-- 3D MODEL -->

<!--
  <div class="bg-white flex p-10 justify-center rounded-2xl shadow-xl" style = "width: 93.5%; margin-left: auto;margin-right: auto;">
    <app-product-preview class="w-[100%] h-[420px]" [color]="selectedColor"></app-product-preview>
  </div>-->

