<app-header></app-header>

<!-- Navbar -->
<div class="container-fluid-2 bg-dark mb-30" style="box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);">
    <div class="orange-rectangle"></div>
    <div class="row px-xl-5">
      <div class="d-none d-lg-block" style="width: 20%;">
        <div class="dropdown" style="margin-left: 10%; margin-right: -50px;">
          <button class="btn menu w-100 border-0" style="height: 50px;" type="button" (click)="toggleMenu()">
            <h5 class="text-white m-0 d-flex align-items-center">
              <i class="fa fa-bars" style="font-size: 28px; margin-left: 2%; margin-right: 5%;"></i>
              <strong>Todas las categorías</strong>
            </h5>
          </button>
          <div class="dropdown-menu custom-dropdown" [ngClass]="{ 'show': isMenuVisible, 'fade-in': isMenuVisible }">
            <a class="dropdown-item" href="#" *ngFor="let opcion of opciones">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <i class="fa {{ opcion.icono }} mr-1" style="margin-left: 20px; margin-right: 20px;"></i>
                  {{ opcion.nombre }}
                </div>
                <div class="ml-auto">
                  <i class="fa fa-arrow-right" style="margin-right: 20px;"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Carousel -->
<div class="container-fluid">
  <div class="row px-xl-5">
      <div >
        <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item position-relative active" style="height: 500px;">
                <img class="position-absolute w-100 h-100" src="assets/img/eva13.png" style="object-fit: cover;">
                
            </div>
            <div class="carousel-item position-relative" style="height: 500px;">
                <img class="position-absolute w-100 h-100" src="assets/img/captura.png" style="object-fit: cover;">
                
            </div>
            <div class="carousel-item position-relative" style="height: 500px;">
                <img class="position-absolute w-100 h-100" src="assets/img/evangelion.png" style="object-fit: cover;">
                <!--<div class="carousel-caption d-flex flex-column align-items-center justify-content-center"></div>-->
            </div>
            </div>
            <!-- Flecha izquierda -->
            <a class="carousel-control-prev" href="#header-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <!-- Flecha derecha -->
            <a class="carousel-control-next" href="#header-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
      <div style = "margin-top: 50px;">
          <div class="product-offer mb-30" style="height: 200px;">
              <img class="img-fluid" src="img/offer-1.jpg" alt="">
              <div class="offer-text">
                  <h6 class="text-white text-uppercase">Save 20%</h6>
                  <h3 class="text-white mb-3">Special Offer</h3>
                  <a href="" class="btn btn-primary">Shop Now</a>
              </div>
          </div>
          <div class="product-offer mb-30" style="height: 200px;">
              <img class="img-fluid" src="img/offer-2.jpg" alt="">
              <div class="offer-text">
                  <h6 class="text-white text-uppercase">Save 20%</h6>
                  <h3 class="text-white mb-3">Special Offer</h3>
                  <a href="" class="btn btn-primary">Shop Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- Carousel -->

  <div class="bg-white flex p-10 justify-center rounded-2xl shadow-xl" style = "width: 93.5%; margin-left: auto;margin-right: auto;">
    <app-product-preview class="w-[100%] h-[420px]" [color]="selectedColor"></app-product-preview>
  </div>

<app-footer></app-footer>


