
<!-- Breadcrumb Start -->
<!--<div class="container-fluid mt-4">
    <div class="row" style = "margin-left: 4vw;">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Menú</a>
                <span class="breadcrumb-item active">Blog</span>
            </nav>
        </div>
    </div>
  </div>-->
  <!-- Breadcrumb End -->
  
  
  <!-- Shop Detail Start -->
  <div class="container-fluid pb-5 mt-10">
    <div class="row" style = "margin-left: 6vw; margin-right: 6vw;">
      <h1 class = "titulo">Blog</h1>
      <div class = "container">
        <div class="card-container col-lg-5">
            <h3 style = "text-align: justify;">Delicious Combi Oven Recipes for Your Restaurant's Holiday Menu.</h3>
            <p class="mb-4 mt-4 fade-out">Working on your restaurant, hotel or club’s holiday menu? 
                Fire up your combi oven and get ready! Here are our top recipes for the holiday season – including 
                plenty of vegan and vegetarian options – to dazzle your customers. We’ve rounded up some of our favorite 
                combi oven recipes to make it easy for your culinary team to cook your guests some amazing and delicious 
                holiday meals.
            </p>
  
            <a href = "https://www.rational-online.com/en_us/company/blog/combi-oven-recipes-holiday/">
                <button>Ver más</button>
            </a>           
        </div>
        
      
        <div class="card-container col-lg-7 mb-30" style = "padding-left: 0.5vw;padding-right: 0.5vw;">
            <img src = "assets/img/imagen1.png" class="imagen-blog mr-3 mt-1 mb-1" style = "height: auto; width: 100%;">
        </div>
      </div>

      <div class = "container">
        <div class="card-container col-lg-7 mb-30">
            <img src = "assets/img/imagen2.png" class="imagen-blog2 mr-3 mt-1 mb-1" style = "height: auto; width: 100%;">

        </div>
        
      
        <div class="card-container col-lg-5" style = "padding-left: 1vw;">
            <h3 style = "text-align: justify;">White Paper: Why Combi Ovens Are A Ghost Kitchen Must-Have.</h3>
            <p class="mb-4 mt-4 fade-out">The pandemic brought unprecedented changes upon the 
                restaurant industry. From pivots to outdoor dining and delivery services to menu changes, another big 
                change has been the growth in numbers of ghost kitchens—delivery-only restaurants eschewing the traditional 
                business model of sit-down, dine-in service.</p>

                <a href = "https://www.rational-online.com/es_us/empresa/blog/ghost-kitchen-must-have/">
                    <button>Ver más</button>
                </a>

        </div>
      </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">

        </div>
    </div>
  </div>
  <!-- Shop Detail End -->
  